// Variables ===
$color_light: #f9f7f7;
$color_dark: #000;
$color_one: #303A52;
$color_two:  #c06c84;

$primary: #355c7d;
$danger: #f67280;

$font_primary: 'Kalam', cursive;
$font_secondary: 'Anton', sans-serif;